body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #F97794;
  min-height: 100vh;
  font-weight: lighter;
}

h1 {
  font-size: 55px;
  text-align: left;
  padding-left: 25px;
  font-family: 'Abel', sans-serif;
}

h1>span {
  display:inline-block;
}

h1 span span {
  display:inline-block;
  max-width:0;
  overflow: hidden;
  transition: max-width 1s;
  vertical-align: bottom;
}

h1 span span::after {
  content: '\00a0'
}

h1:hover span span {
  max-width: 300px;
}

.aboutMe{
  font-size: 45px;
  text-align: left;
  padding-left: 25px;
  font-family: 'Abel', sans-serif;
  letter-spacing: 2px;
  color:white;
}


.aboutMe>span {
  display:inline-block;
}

.aboutMe span span {
  display:inline-block;
  max-width:0;
  overflow: hidden;
  transition: max-width 1s;
  vertical-align: bottom;
}

.aboutMe span span::after {
  content: '\00a0'
}

.aboutMe:hover span span {
  max-width: 300px;
}

.myProjects{
  font-size: 45px;
  text-align: left;
  padding-left: 25px;
  font-family: 'Abel', sans-serif;
  letter-spacing: 2px;
  color:white
}

.myProjects>span {
  display:inline-block;
}

.myProjects span span {
  display:inline-block;
  max-width:0;
  overflow: hidden;
  transition: max-width 1s;
  vertical-align: bottom;
}

.myProjects span span::after {
  content: '\00a0'
}

.myProjects:hover span span {
  max-width: 300px;
}

html, body {height: 100%}

body > footer {
  position: sticky;
  top: 100vh;
  margin-bottom: 10px;
}

.p1Project{
  text-align: left;
  padding-left: 25px;
}