body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #F97794;
  min-height: 100vh;
  font-weight: lighter;
}

h1 {
  font-size: 55px;
  text-align: left;
  font-family: 'Abel', sans-serif;
}

h1>span {
  display:inline-block;
}

h1 span span {
  display:inline-block;
  max-width:0;
  overflow: hidden;
  transition: max-width 1s;
  vertical-align: bottom;
}

h1 span span::after {
  content: '\00a0'
}

h1:hover span span {
  max-width: 300px;
}

h2 {
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: 'Abel', sans-serif;
}

h3 {
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: 'Abel', sans-serif;
}

h4 {
  font-style: normal;
  text-align: center;
  font-family: 'Abel', sans-serif;
}

footer {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
}

p {
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
}

a {
  font-size: 25px;
  color: white;
}
li {
  margin-bottom: 10px;
}

table{
  margin:auto;
  margin-bottom: 75px;
}

.image1{
  height: 50px;
  width: 170px;
}

.image2{
  height: 50px;
  width: 60px;
}

.image3{
  height: 40px;
  width: 150px;
}

.TD{
  text-align: left;
}

.TD2{
  text-align: center;
}

.TD3{
  text-align: right;
}

.projects{
  background-image: linear-gradient( 90deg, #623AA2 0%, #F97794 100%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  min-height:100vh;
}

.project-header{
  font-size: 75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.paragraph{
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 100px;
}

.paragraph2{
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 50px;
}

.paragraph3{
  margin-bottom: 100px;
}

.paragraph4{
  margin-bottom: 100px;
}

.gaming-project{
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.text-based{
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.text-based:hover{
  text-decoration: none;
  font-size: 35px;
  background-color: transparent;
  color: rgb(2, 48, 108);
}

.gaming-project:hover{
  text-decoration: none;
  font-size: 35px;
  background-color: transparent;
  color: rgb(2, 48, 108);
}

.here-hover{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.here-hover:hover{
  background-color: transparent;
  color: rgb(2, 48, 108);
}
